{% extends 'catalog/base.html' %}

{% block title %}Логин{% endblock %}

{% block content %}
    <form class="form-login needs-validation" novalidate method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control {% if form.username.errors %}is-invalid{% endif %}" id="floatingInput"
                   placeholder="Введите логин" name="username" value="{{ form.username.value|default:'' }}" required>
            <label for="floatingInput">Логин</label>
            <div class="invalid-feedback">
                {% if form.username.errors %}
                    {{ form.username.errors }}
                {% else %}
                    Пожалуйста, введите логин
                {% endif %}
            </div>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control
                    {% if form.password.errors or form.non_field_errors %}is-invalid{% endif %}"
                   id="floatingPassword" placeholder="Введите пароль" name="password" required>
            <label for="floatingPassword">Пароль</label>
            <div class="invalid-feedback">
                {% if form.password.errors %}
                    {{ form.password.errors }}
                {% elif form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% else %}
                    Пожалуйста, введите пароль
                {% endif %}
            </div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="remember" name="remember">
            <label class="form-check-label" for="remember">Запомнить меня</label>
        </div>
        <button type="submit" class="btn btn-secondary ">Войти</button>
    </form>
{% endblock %}
